.LinksContainer {
    display:flex;
    margin: auto;
    width:20%;
    justify-content: space-around;
    height:50px;
    margin-top: 80vh;
    margin-top-min: 70vh;
}

.Logo {
    display:flex;
}

a {
    display:flex;
}
