.App {
  background-image: url("../images/bg.png");
  display: inline-block;
  font-size: calc(10px + 2vmin);
  width: 100vw;
  height: 100vh;
}

.SubPage {
  background-image: url('../images/SubPagebg.png');
  display: inline-block;
  font-size: calc(10px + 2vmin);
  width: 100vw;
  height: 100vh;
}

.subPageTitle {
    text-align: center;
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    margin: auto;
    width: 35vmin;
    color:black;
    font-size: calc(10px + 8vmin);
}

.App-header {
}

.Title {
  z-index: 1;
  position:absolute;
  color: black;
  top: 20%;
  left: 10%;
  font-size: calc(10px + 10vmin);
}
