.NavMenu {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    height: 7vh;
    width: 100vw;
    background-color: black;
    animation-name: SlideDown;
    animation-duration: .4s;
}

@keyframes SlideDown {
    0% {margin-top: -5vw;}
    100% {margin-top: 0;}
}

.NavMenu ul  {
    list-style: none;
    margin-top:14px;
    vertical-align: center;
    padding-left:80px;
}

.NavMenu li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

.NavMenu a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.MenuIconOpen {
    justify-content: center;
    align-items: ceter;
    padding-top: 10px;
    z-index: 1;
    position: absolute;
    left: 13px;
    top: 9px;
    font-size: 30px; //icon size
    width:65px;
    cursor: pointer;
    transition: font-size .5s;
}

.MenuIconOpen:hover {
    font-size: 40px;
    transition: font-size .5s;
}

.MenuIconClosed {
    filter:invert(100%);
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    z-index: 1;
    position: absolute;
    left: 13px;
    top: 9px;
    font-size: 30px; //icon size
    width:65px;
    cursor: pointer;
    transition: font-size .5s;
}

.MenuIconClosed:hover {
    font-size: 40px;
    transition: font-size .5s;
}
